.inst-label {
  fill: #fff;
  font-size: 30px;
  font-family: 'Fira Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
html, body {
  background-color: #000;
  cursor:none;
}
#main_canvas {
  margin: 0px;
  padding: 0px;
  max-width:780px;
  max-height: 420px;
  background-color: #000;
  color: #fff;
  overflow:hidden;
  cursor: none;
}

* { cursor: none !important; }